---
const services = [
  { 
    title: 'Acupuncture', 
    description: `<p>Acupuncture is used worldwide both as a primary and complementary form of medical treatment. The list of conditions that acupuncture may help is essentially limitless. The most common conditions are:</p><ul><li class="list-disc">allergies/asthma</li><li class="list-disc">headaches<li><li class="list-disc">anxiety/depression</li><li class="list-disc">fertility/labor induction</li><li class="list-disc">neurological conditions</li><li class="list-disc">pain anywhere in the body</li></ul>`
},
  { 
    title: 'Tuina', 
    description: `<p>Tuina is an effective form of bodywork that follows the principles of Traditional Chinese Medicine.  Particular to our clinic it is heavily utilized within the context of the Tom Tam Healing System of structural/energetic "blockages" along the neck and spine that contribute to health issues.</p>` 
},
{
    title: 'Qigong and Tai Chi Classes',
    description: `<p>We offer a range of qigong and Yang style Tai Chi courses to help you to gain tools and awareness to improve your own health and grow along a more sustainable path.</p>`
},
{ 
    title: 'Chinese Herbal Medicine / Dietary Consultations',
    description: `<p>In conjunction with an "acupuncture" appointment we will make Chinese herbal medicine, dietary and lifestyle recommendations tailored to your specific needs.  We offer a large range of Chinese Herbal Medicine and natural health products available through <a href="https://store.yinyanghouse.com/">our online store</a> (shipped from our Chattanooga center).</p>`
},
];
---

<section id="services" class="py-16">
    <h2 class="text-3xl font-bold mb-4">Services</h2>
    <div x-data="{ openAccordion: null }" class="accordion">
      {services.map((service, index) => (
        <div class="accordion-item mb-4" data-index={index}>
          <button
            @click="openAccordion = openAccordion === $el.parentElement.dataset.index ? null : $el.parentElement.dataset.index"
            :aria-expanded="openAccordion === $el.parentElement.dataset.index"
            class="flex justify-between w-full py-4 px-6 bg-[#5cc4b5] dark:bg-[#3b8c82] text-white rounded"
          >
            <div class="flex items-center">
              <div class="flex-grow">
                <p class="font-bold">{service.title}</p>
              </div>
            </div>
            <span class="toggle-icon text-2xl font-bold">
              <span x-show="openAccordion !== $el.parentElement.dataset.index" x-cloak>+</span>
              <span x-show="openAccordion === $el.parentElement.dataset.index" x-cloak>-</span>
            </span>
          </button>
          <div
            x-show="openAccordion === $el.parentElement.dataset.index"
            x-cloak
            class="accordion-collapse overflow-hidden transition-all duration-300"
            :style="openAccordion === $el.parentElement.dataset.index ? 'max-height: 500px;' : 'max-height: 0;'"
          >
            <!-- <div class="py-4 px-6 bg-[#5cc4b5] dark:bg-[#3b8c82] text-white rounded"> -->
            <div class="py-4 px-6 bg-[#5cc4b5] dark:bg-[#3b8c82] text-white rounded overflow-y-auto h-64 md:h-auto">
              <span set:html={service.description}></span>
            </div>
          </div>
        </div>
      ))}
    </div>
  </section>
  
