---
import "@styles";
import Layout from '@layouts/Layout.astro';
import Scheduling from "@components/Scheduling.astro";
const pageData = {
	title: "Acupuncture, Massage and Wellness Appointment Scheduling",
	date: "",
	slug: "appointments",
	author: "",
	coverimage: "", 
	coveralt: "",
	parent: "",
	description: "Schedule your acupuncture and wellness appointments with Yin Yang House Twin Cities.",
	ogImage: "",
	keywords: ["acupuncture appointments", "qi gong classes", "tai chi classes", "meditation classes", "wellness visits", "minneapolis acupuncture", "twin cities acupuncture", "st paul acupuncture"],
	socialTitle: "",
	socialDescription: "",
	layout: "",
}
---

<Layout fullWidth={true} thisPage={pageData} isArticle={false} isProduct={false}>
	<div class="container mx-auto px-4 sm:px-6 lg:px-8">
		<Scheduling />
	</div>
</Layout>
